body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    min-height: 100vh;
    position: relative;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-frontpage {
    text-align: center;
    margin-bottom: 40px;
}

header {
    background:linear-gradient(to right, lightskyblue, steelblue);
    color: #fff;
    padding: 10px 0;
}

.logo img {
    height: 100px;
    margin-left: 20px;
}
.login-button{
    margin-right: 20px;
}

.login-button button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background:linear-gradient(to right, lightskyblue, steelblue);
}

.main-content {
    color: #fff;
    padding: 40px;
    margin-top: 20px;
    border-radius: 10px;
}

h1, h2, h3{
    color: #333;
}

p {
    color: #666;
    line-height: 30px;
}

.testimonials {

    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.testimonials h3 {
    color: #333;
    text-align: center;
    margin-bottom: 15px;
}

.testimonial {
    background-color: lightskyblue;
    color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
}

.testimonial:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    border-width: 10px;
    border-style: solid;
    border-color:lightskyblue transparent transparent transparent;
}

.testimonial p {
    margin: 0;
}

.faq {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.faq h3 {
    color: #333;
    text-align: center;
    margin-bottom: 15px;
}

.faq ul {
    list-style-type: none;
    padding: 0;
}

.faq li {
    color: #666;
    margin-bottom: 10px;
    border-left: 3px solid lightskyblue;
    padding-left: 15px;
}

.popular-categories {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.popular-categories h3 {
    color: #333;
    text-align: center;
    margin-bottom: 15px;
}

.categories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.faq,
.popular-categories {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
}

.faq h3,
.popular-categories h3 {
    color: #333;
    text-align: center;
    margin-bottom: 15px;
}

.faq ul,
.popular-categories .categories-list {
    list-style-type: none;
    padding: 0;
}

.faq li,
.popular-categories .category {
    color: #666;
    margin-bottom: 10px;
    border-left: 3px solid lightskyblue;
    padding-left: 15px;
}

.category {
    background-color: lightskyblue;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.category:hover {
    background-color: lightskyblue;
}

.testimonials,
.faq,
.popular-categories {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 50%;
    margin: 0 auto 20px;
}


.testimonials h3,
.faq h3,
.popular-categories h3 {
    color: #333;
    text-align: center;
    margin-bottom: 15px;
}

.testimonials,
.popular-categories,
.faq,
.sektion {
    margin-bottom: 40px;
}


.inspiration {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5%;
    gap:15px;
    padding-left: 5%;
    padding-right:1%;

}

.sektion {

    text-align: center;
}

.inspirationslinks img {

    height:auto;
    width:85%;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .inspiration {
        flex-direction: column;
        align-items: flex-start;

    }
}

footer {
    background: linear-gradient(to right, lightskyblue, steelblue);
    padding: 1em 0;
    color: white;
    width: 100%;
    margin-top: auto;
    box-sizing: border-box;
}



.contact-form, .newsletter-form {
    width: 48%;
}

.contact-form h2, .newsletter-form h2 {
    color: #fff;
}

form {
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: steelblue;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: skyblue;
}
