.loginForm {
    display:block;
    justify-items: center;
    justify-content: space-around;
    height:250px;
    border-radius: 15px;
    border: 2px ridge grey;
    padding:30px;
    background-color: rgba(165, 196, 255, 0.6);
    margin:40px auto;
    width:350px;

}

.loginFields {
    margin-bottom: 25px;
    align-content: flex-start;
    text-align: left;



}


#createuseroption {

    text-align: center;
    margin-top:50px;
}

.buttons {

}

.loginButton {
    display:block;
    cursor: pointer;
    margin-right:auto;
    margin-left:auto;
    align-content: center;
    margin-top:25px;
    text-align: center;


}

