<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="../static/CSS/login.css" th:href="@{/CSS/login.css}">
</head>
<body>

<div class="loginForm">
    <form action="/loggingIn" method="post">
        <h1>Login</h1>
        <div class="loginFields">
            <div>
                <label for="username">Brugernavn</label>
            </div>
            <div>
                <input type="text" name="username" id="username" placeholder="Indtast brugernavn..." required>
            </div>

        </div>
        <span id="username_missing" color="red"></span>

        <div class="loginFields">
            <div>
                <label for="password">Adgangskode</label>
            </div>
            <div class="inputField">
                <input type="password" id="password" name="password" placeholder="Indtast adgangskode..." required>
            </div>
        </div>
        <span id="password_mismatch" color="red"></span>
        <div class="glemt">
            <p><a href="/">Glemt adgangskode?</a></p>
        </div>


        <!--<div class="buttons"> -->
            <div class="loginButton">
                <input type="submit" value="Login">
            </div>





            <!--<div class="aButton">
                <input type="reset" value="Annuller">
            </div>
            -->

        <!--</div> -->

        <div id="createuseroption">
            <p>Har du ikke en bruger?</p>
            <p>Opret en bruger <a href="/createUser">her</a></p>
        </div>





    </form>
</div>

<script th:inline="javascript">
    var usernameMissing = /*[[${usernameMissing}]]*/ false;
    if (usernameMissing===true){
        document.getElementById("username_missing").innerText="Denne bruger findes ikke.";
    }
</script>
<script th:inline="javascript">
    var passwordMismatch = /*[[${passwordMismatch}]]*/ false;
    if (passwordMismatch===true){
        document.getElementById("password_mismatch").innerText="Forkert password til denne bruger.";
    }
</script>

</body>
</html>