<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ønskelisten</title>
    <link rel="stylesheet" href="/CSS/wishlist.css" th:href="@{/CSS/wishlist.css}">
</head>
<body>
<header>
    <div class="container">
        <div class="logo">
            <a th:href="@{/}"> <img src="/Images/WishLogo.png" th:src="@{/Images/WishLogo.png}" alt="Logo"> </a>
        </div>
        <div class="login-button">
            <span th:if="${user.id == 0}">
                        <a th:href="@{/login}"> <button>Log ud </button></a>
            </span>

            <span class="profile" th:if="${user.id != 0}">
                        <a th:href="@{/userpage}"> <button>Profil</button></a>
            </span>

            <div class="logout">
            <span  th:if="${user.id != 0}">
                <a th:href="@{/logout}"> <button>Logout</button></a>
            </span>
        </div>
    </div>
</header>

<div class="main-content">


    <div class="create">

        <h2> Opret en ny ønskeliste</h2>
        <a href="WishlistForm.html" th:href="@{/WishlistForm}">Klik her for at oprette en ny ønskeliste</a>
    </div>

    <table>
        <thead>
            <tr>
                <th>Navn</th>
                <th>Rediger</th>
                <th>Slet</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="wishlist : ${list}">
                <td> <a th:text="${wishlist.name}" th:href="@{'/wishlist?id='+${wishlist.id}}"></a></td>
                <td> <a th:href="@{'/updateList/' + ${wishlist.id}}" href="wishlistUpdateForm.html">Rediger ønskeliste</a></td>
                <td> <a th:href="@{'/deleteList/' + ${wishlist.id}}" href="userpage.html" onclick="return confirm('Er du sikker på, at du vil slette denne ønskeliste?')">Slet ønskeliste</a></td>
            </tr>
        </tbody>
    </table>
    <h2>Fulgte ønskelister</h2>
    <table>
        <thead>
        <tr>
            <th>Navn</th>
            <th>Følg</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="wishlist : ${following}">
            <td> <a th:text="${wishlist.name}" th:href="@{'/wishlist?id='+${wishlist.id}}"></a></td>
            <td> <a th:href="@{'/unfollow?id=' + ${wishlist.id}}">Stop med at følge</a></td>
        </tr>
        </tbody>
    </table>
</div>



<footer>
    <div class="container">
        <div class="contact-form">
            <h2>Kontakt os</h2>
            <form>
                <label for="name">Navn:</label>
                <input type="text" id="name" name="name" required>

                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required>

                <label for="message">Besked:</label>
                <textarea id="message" name="message" required></textarea>

                <button type="submit">Indsend</button>

            </form>
        </div>
        <div class="newsletter-form">
            <h2>Skriv dig up til vores nyhedsbrev!</h2>
            <form>
                <label for="newsletter-email">E-mail:</label>
                <input type="email" id="newsletter-email" name="newsletter-email" required>
                <button type="submit">Abonner</button>
            </form>
        </div>

    </div>
</footer>
</body>
</html>