<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ønskelisten</title>
    <link rel="stylesheet" href="/CSS/wishlist.css" th:href="@{/CSS/wishlist.css}">

</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a th:href="@{/}"> <img src="/Images/WishLogo.png" th:src="@{/Images/WishLogo.png}" alt="Logo"> </a>
            </div>
            <div class="login-button">
                <span th:if="${user.id == 0}">
                        <a th:href="@{/login}"> <button>Login </button></a>
            </span>
                <span th:if="${user.id != 0}">
                        <a th:href="@{/userpage}"> <button>Profil</button></a>
            </span>
            </div>
        </div>
    </header>

    <div class="main-content">

        <h1 th:if="${user.id == wishlistObject.userId}" th:text="'Velkommen til din personlige ønskeliste ' + ${wishlistObject.name}">Velkommen til din personlige ønskeliste </h1>
        <h1 th:if="${user.id != wishlistObject.userId}" th:text="${wishlistObject.name}"></h1>
        <!--<div class="wish-container">
        <div class="wish-container">
            <div class="wish-item" th:each="wish : ${wishlist}">
                <a th:href="@{${wish.url}}"><h4 th:text="${wish.name + ' (' + wish.amount + ')' + ' - ' + wish.price} + ' kr.'">Wish name.</h4></a>
                <p th:text="${wish.description}">Description.</p>
                <img th:src="@{${wish.url}}" alt="If this image displays, I'll eat my hat.">
                <a th:href="@{'/update/' + ${wish.id}}" href="wishUpdateForm.html">Update wish</a>
                <a th:href="@{'/delete/' + ${wish.id}}" href="wishlist.html">Delete wish</a>
            </div>
        </div> -->
        <div class="share-button">
            <button type="button" onclick="navigator.clipboard.writeText(window.location.href)">Del ønskeliste</button>
        </div>
        <table>
            <thead>
            <tr>
                <th>Navn på ønske</th>
                <th>Pris</th>
                <th>Antal ønsket</th>
                <th>Beskrivelse</th>
                <th>Billede</th>
                <th th:if="${user.id == wishlistObject.userId}">Opdater ønske</th>
                <th th:if="${user.id == wishlistObject.userId}">Slet ønske</th>
                <th th:if="${user.id != wishlistObject.userId}">Reservation</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="wish : ${wishlist}">
                <td><a th:href="@{${wish.url}}" th:text="${wish.name}"></a></td>
                <td th:text="${wish.price}"></td>
                <td th:text="${wish.amount}"></td>
                <td th:text="${wish.description}"></td>
                <td> <img th:src="@{${wish.image_url}}" alt="If this image displays, I'll eat my hat."> </td>
                <td th:if="${user.id == wishlistObject.userId}"> <a th:href="@{'/update/' + ${wish.id}}" href="wishUpdateForm.html">Opdater ønske</a></td>
                <td th:if="${user.id == wishlistObject.userId}"> <a th:href="@{'/delete/' + ${wish.id}}"  href="forside.html" onclick="return confirm('Er du sikker på du vil slette dette ønske?')">Slet ønske</a></td>
                <td th:if="${user.id != wishlistObject.userId}" th:switch="${wish.reserved}">
                    <span th:case="false">
                        <a th:if="${user.id == 0}" th:href="null">Log ind for at reservere ønsker</a>
                        <a th:if="${user.id != 0}" th:href="@{'/reserve/' + ${wish.id}}">Reserver ønske</a>
                    </span>
                    <span th:case="true">
                        <a th:if="${wish.reserved_by != null && user.id != wish.reserved_by}" th:href="null">Reserveret</a>
                        <a th:if="${wish.reserved_by != null && user.id == wish.reserved_by}" th:href="@{'/cancel/' + ${wish.id}}"  onclick="return confirm('Er du sikker på du vil frigive din reservation?')">Frigiv reservation</a>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>


        <div class="create">
            <h2> Opret nyt ønske</h2>
            <a href="WishForm.html" th:href="@{/WishForm}">Klik her for at oprette et nyt ønske</a>
        </div>
    </div>
<footer>
    <div class="container">
        <div class="contact-form">
            <h2>Contact Us</h2>
            <form>
                <label for="name">Navn:</label>
                <input type="text" id="name" name="name" required>
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required>
                <label for="message">Besked:</label>
                <textarea id="message" name="message" required></textarea>
                <button type="submit">Indsend</button>
            </form>
        </div>
        <div class="newsletter-form">
            <h2>Skriv dig up til vores nyhedsbrev!</h2>
            <form>
                <label for="newsletter-email">E-mail:</label>
                <input type="email" id="newsletter-email" name="newsletter-email" required>
                <button type="submit">Abonner</button>
            </form>
        </div>
    </div>
</footer>
</body>
</html>