<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opdater ønske</title>
    <link rel="stylesheet" href="/CSS/wishform.css" th:href="@{/CSS/wishform.css}">
</head>
<body>
<div class="createWishForm">
    <form action="/updateWish" method="post">
        <h2>Opdater ønske</h2>

        <input name="id" type="number" hidden th:value="${Wish.id}">

        <div class="loginFields">
            <div>
                <label for="name-field">Navn på ønske:</label>
            </div>
            <div>
                <input id="name-field" name="name" type="text" th:value="${Wish.name}">
            </div>
        </div>

        <div class="loginFields">
            <div>
                <label for="price-field">Pris:</label>
            </div>
            <div>
                <input id="price-field" name="price" type="number" th:value="${Wish.price}">
            </div>
        </div>

        <div class="loginFields">
            <div>
                <label for="amount-field">Antal ønsket:</label>
            </div>
            <div>
                <input id="amount-field" name="amount" type="number" th:value="${Wish.amount}">
            </div>
        </div>

        <div class="loginFields">
            <div>
                <label for="description-field">Beskrivelse:</label>
            </div>
            <div>
                <textarea id="description-field" name="description" rows="4" th:value="${Wish.description}"></textarea>
            </div>
        </div>

        <div class="loginFields">
            <div>
                <label for="url-field">URL til indkøbs-side:</label>
            </div>
            <div>
                <input id="url-field" name="url" type="text" th:value="${Wish.url}">
            </div>
        </div>

        <div class="loginFields">
            <div>
                <label for="image-url-field">Billede URL:</label>
            </div>
            <div>
                <input id="image-url-field" name="url" type="text" th:value="${Wish.image_url}">
            </div>
        </div>

        <button type="submit" value="Opdater ønske">Opdater ønske</button>
    </form>
</div>
</body>
</html>
