<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opdaterings form for Ønskelister</title>
    <link rel="stylesheet" href="/CSS/wishform.css" th:href="@{/CSS/wishform.css}">
</head>
<body>
<div class="createWishForm">
<form action="/updateWishlist" method="post">
    <h2>Opdater ønskeliste</h2>

    <input name="id" type="number" hidden th:value="${Wishlist.id}">

    <div class="loginFields">
        <div>
            <label for="name-field">Navn på ønskeliste:</label>
        </div>
        <div>
            <input id="name-field" name="name" type="text" th:value="${Wishlist.name}">
        </div>
    </div>

    <div class="loginFields">
        <div>
            <label for="isPrivate">Privat ønskeliste</label>
            <input type="checkbox" id="isPrivate" name="isPrivate">
        </div>
    </div>

    <button type="submit" value="Opdater ønske">Opdater ønskeliste</button>
</form>
</div>
</body>
</html>